// FONTS

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Bold.woff2') format('woff2'),
        url('../fonts/IbarraRealNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Medium.woff2') format('woff2'),
        url('../fonts/IbarraRealNova-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-MediumItalic.woff2') format('woff2'),
        url('../fonts/IbarraRealNova-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/IbarraRealNova-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-SemiBold.woff2') format('woff2'),
        url('../fonts/IbarraRealNova-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Regular.woff2') format('woff2'),
        url('../fonts/IbarraRealNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Italic.woff2') format('woff2'),
        url('../fonts/IbarraRealNova-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-BoldItalic.woff2') format('woff2'),
        url('../fonts/IbarraRealNova-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}



// public sans

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/IbarraRealNova-Bold.woff2') format('woff2'),
        url('../fonts/PublicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Black.woff2') format('woff2'),
        url('../fonts/PublicSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Medium.woff2') format('woff2'),
        url('../fonts/PublicSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Light.woff2') format('woff2'),
        url('../fonts/PublicSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Thin.woff2') format('woff2'),
        url('../fonts/PublicSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
        url('../fonts/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-SemiBold.woff2') format('woff2'),
        url('../fonts/PublicSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

