// COLORS
$color-primary-greenish: #5FB4A2 ;
$color-primary-dark-blue: #203A4C ;
$color-primary-grayish-dark-blue: #33323D ;
$color-secondary-light-gray: #D7D7D7;
$color-secondary-light-gray-text-field: #EAEAEB;
$color-secondary-light-red: #F43030;

// FONTS
$font-primary: "Ibarra Real Nova";
$font-secondary: "Public Sans";